@model UserModel

@{
    ViewData["Title"] = "Delete user";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>
                Delete Confirmation for @Model.UserName
            </h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">

                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" readonly />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                @* submit button*@
                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="UserID"/>
                        <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                    </form>
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>



            </div>
        </div>
    </div>
</div>

